[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "external/FastLED"]
	path = external/FastLED
	url = https://github.com/FastLED/FastLED
[submodule "FastLED"]
	path = FastLED
	url = https://github.com/FastLED/FastLED
